<h1>Coming to the UK</h1>
<div class="bs-callout bs-callout-warning">
  <h4>Audit improvements for titles</h4>
  <p>Sample of <strong><code><%= Metric.pluck(:content_id).uniq.count %></code></strong> items from <code>20-Aug-2017</code> until <code>14-Sept-2017</code></p>
  <p>Show the number of invalid titles per day</p>
</div>



<%= area_chart Metric.where(code: :title_length).where("value > ?",60).where(day: (40.days.ago..Time.now)).group(:day).order(:day).count %>


